PORT=
JWT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=
DATABASE_URL=
RESEND_API_KEY=""


# temporary cred for sending otp email via nodemailer

NODE_MAILER_SENDER_EMAIL=""
NODE_MAILER_SENDER_PASSWORD=""